$col-count:12; // liczba kolumn siatki
$max-width:1000px; //maksymalan szerokość grid containera
$gutter-size:12px; //padding kolumn
$breakpoint-width:800px; //od jakiej szerokości działa siatka, poniżej width col = 100%
